.profile {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #AB3433;
  color: #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  height: 75%;
  width: 75%;
}

.image {
  height: 150px;
  width: 150px;
}
